.daily-items {
  display: flex;
}
.daily {
  /* height: 290px; */
  min-width: 106%;
}
.daily img {
  /* max-width: 400px; */
  min-width: 100%;
}
.light {
  color: rgb(0, 0, 0);
}
.dark {
  color: rgb(255, 255, 255);
}
.bg-dark {
  background-color: black;
  color: white;
}
.bg-light {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
}
