.daily-items {
  display: flex;
}
.daily {
  /* height: 290px; */
  min-width: 106%;
}
.daily img {
  /* max-width: 400px; */
  min-width: 100%;
}
.light {
  color: rgb(243, 165, 88);
}
.dark {
  color: rgb(255, 255, 255);
}
.bg-dark {
  background-color: black;
  color: white;
}
.bg-light {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.modeedit {
  color: orange;
  opacity: 0.5;
}
.modeedit:hover {
  border-bottom: solid 2px orange;
}

.changemode {
  /* opacity: 1;
  transition: all 1s ease-in-out; */
}
.lightmode {
  color: aqua;
}
.lightmode:hover .changemode {
  opacity: 1;
}
